*{
    padding:0px;
    margin:0px;
}

.nav{
    padding:5px 0;
}
.nav li a{
    color: #000000;
}
.nav li a:hover{
    color:#FF0047;


}
#tutree{
    width: 14%;
}
.nav{
    margin-left:10%;
}

.Findingjobs{
    background-color:white;
}
.Findingjobs #header{
    color:red;
    padding:15px 0 0 20%;
}
.myform{
    padding-left:20%;
  
}

.srch_icon{
    color: #fff;
}

.form-control::placeholder{
    color:red!important;
}
.form-control:focus {
    border-color: red!important;
    box-shadow: 0 0 0 0!important;
} 
.innernavigation ul{
    margin-left: 0%;
}
.primary-btn{
    background-color:#FF0047; 
    color:white;
    border-style: none;
}
.container-job-logo{
    width:40%;
    float:right;
}
#modal-logo{
    width:50%;
}
.float-button{
    border-radius:100%!important;
    position: fixed; 
    border-style:none!important;
    width:60px; 
    background-color:#FF0047!important; 
    height:60px; 
    bottom:40px; 
    right:40px;
}
#headingOne{
    text-align: center!important;
}

.location{
    margin-left: 4px!important;
}

.job-container ul {
background-color: #FEE4EB;
width:44%;
padding:0 auto;
}

.job-container ul li {
    margin-right:10px;
    color:#FF0047;
    padding:5px;
    border-radius: 10%;
}

.btn_toggler, .btn-close, .pro_bg
{
    display: none;
}

#menu_btn
{
    display: none;
}
#job_btn
{
    display: none;
}
#search_btn{
    display: none;
}
.turnOff{
    display:none;
}
.find_btn{
    margin-left: 5px;
}
.myform{
     padding-left: 20%!important;
}

@media only screen and (max-width:1000px) {
    #tutree{
        width: 25%;
        margin: 0 87px;
    }
    .nav-item :hover{
        background-color:#FF0047;
       
    }

    .nav li a:hover{
        color:#fff;
       
    }
    .modal-fade{
        width:50%!important;
    }
    
    .nav{
        display:block!important;
        margin:0;
    }
    .form-control{
        width:110px!important;
        position:relative!important;
        right:10px!important;
    }
    
    .qbox{
        margin-left:20px!important;
        
    }

    .find_btn{
        margin-left:0px!important;
        width:inherit!important;
    }

    .findjob{
        width: 40%!important;
        margin-top:10px!important;
        margin-left: auto!important;
        margin-right: auto!important;
    }
    .job-container h3{
        font-size: 15px!important;
        
    }
    .job-container img{
        position: relative!important;
        width: 85px!important;
    } 
    .job-attr{
        display: flex!important;
    }
    .job-attr li{
        width: fit-content;
        font-size: 12px;
    }
    .Findingjobs #header{
        padding-left: 7%!important;
    }
    .innernavigation ul{
        display: flex!important;
    }
    .navbar-toggler{
        margin-right:20px!important;
    }

    .btn_toggler, .btn-close
    {
        display: block!important;
    }

    .turnOff{
        display: inline-block!important;
    }

    #menu_btn, #search_btn
    {
        display: inline-block!important;
        opacity: 0;
        width: 0;
        height: 0;
    }
    .location{
        margin-left: 0!important;
    }

    .turnOff{
        position: absolute;
        right: 40px;
        background: #ff0047;
        width: 25px;
        height: 25px;
        border-radius: 3px!important;
        padding-left: 4px;
      }

    .myform{
        height: 0;
        overflow: hidden;
        padding-left: 20px!important;
        transition: 0.5s;
 
    }
    .search{
        width:100%;
    }
    .input-group{
        margin:10px 0!important;
        padding-left: 1px;
        width: inherit!important;
    }
    .input-group-prepend{
        width:inherit!important;
    }

    .sidebar{
        position: fixed;
        width: 70%;
        height: 100vh;
        background: #fff;
        right: -100%;
        top: 0;
        color: #FF0047;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 2; 
    }

    .btn-close{
        position: absolute;
        top: 40px;
        right: 40px;
      }

    .protector{
        position: fixed;
        width: 30%;
        height: 100vh;
        background: rgba(0,0,0,0.4);
        left: 100%;
        top: 0;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
        z-index: 1;
    }

    .qInput{
        width:inherit!important;
        font-size:20px;
    }

    .sidebar a{
        display: block;
        padding: 20px;
      }
    .pro_bg{
        display: block;
    }
      #menu_btn:checked ~ .sidebar{
        right: 0;
      }
      #menu_btn:checked ~ .protector{
        left: 0;
      }

      #search_btn:checked ~ .myform{
        height: 200px!important;
      }

      

}

